@using Incoding.MvcContrib
<!DOCTYPE html>
<html >
    <head>
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.min.css")"/>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/underscore.min.js")"> </script>                
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.history.js")"> </script>        
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars-1.1.2.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/incoding.framework.js")"> </script>                      
        <script type="text/javascript" src="@Url.Content("~/Scripts/incoding.meta.language.contrib.js")"> </script>                      
        <script>
            TemplateFactory.Version = '@Guid.NewGuid().ToString()';

            function DataToString(target, data) {

                if (_.isString(data)) {
                    $(target).html(data);
                    return;
                }

                var collection = _.isArray(data) ? data : [data];

                var res = '';
                $(collection).each(function () {
                    var current = this;
                    $.eachProperties(current, function () {
                        res += "{0}:{1}".f(this, data[this]);
                    });
                });
                $(target).html(res);
            }            

        </script>
    </head>
    @Html.Incoding().RenderDropDownTemplate()
    <body>        
        @RenderBody()
    </body>
</html>