@using Incoding.Extensions
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/endpoint.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.0.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.4.js")"> </script>
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.history.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/underscore.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/incoding.framework.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/incoding.meta.language.contrib.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/endpoint.js")"></script>    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <script src="@Url.Content("~/Content/Trumbowyg-master/dist/trumbowyg.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Trumbowyg-master/dist/ui/trumbowyg.min.css")">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/androidstudio.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>

    <script>
        TemplateFactory.Version = '@Guid.NewGuid().ToString()';
    </script>
</head>

<body id="api-reference">
@Html.Incoding().RenderDropDownTemplate()
<div id="header">
    <div class="header-section header-section-sidebar text-center">
        <span class="switch-text">Editable mode </span>
        <div class="switch-inline">
            <label>
                @(Html.When(JqueryBind.Change)
                      .OnSuccess(dsl =>
                                 {
                                     dsl.WithClass("glyphicon-pushpin")
                                     .Behaviors(instancesDsl =>
                                                {
                                                    instancesDsl.JQuery.Attr.AddClass(B.Hidden);
                                                    instancesDsl.JQuery.Attr.RemoveClass(B.Hidden).If(() => Selector.Jquery.Self());
                                                });

                                     dsl.WithClass("ce-element").JQuery.Attr.ToggleClass(B.Active);
                                 })
                      .AsHtmlAttributes()
                      .ToInput(HtmlInputType.CheckBox, ""))
                <span>YES<i></i>NO</span>
            </label>
        </div>
    </div>
    <div class="header-section header-section-example">
        <div id="language">
            <ul class="language-toggle">
                @foreach (var type in new[] { "http", "curl", "android", "sandbox" })
                {
                    var attr = new RouteValueDictionary(new { @class = "language-toggle-source", name = "language-toggle" });
                    if (type == "android")
                    {
                        attr.Add(HtmlAttribute.Checked.ToStringLower(), HtmlAttribute.Checked);
                    }
                    <li>
                        @(Html.When(JqueryBind.Change)
                              .OnSuccess(dsl =>
                                         {
                                             dsl.WithClass("method-example").JQuery.Attr.AddClass(B.Hidden);
                                             dsl.WithClass(type).JQuery.Attr.RemoveClass(B.Hidden);
                                             dsl.Self().Eval("document.location = document.location").If(() => !Selector.JS.Location.Hash.IsEmpty());
                                         })
                              .AsHtmlAttributes(attr)
                              .ToInput(HtmlInputType.Radio, type))
                        <label class="language-toggle-button">@type</label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
@{
    var data = Html.Dispatcher().Query(new GetMessagesQuery());
    var pathToNavTmpl = "~/Views/Endpoint/Nav_Tmpl.cshtml";
}
<div id="sidebar">
    <nav role="navigation" class="sidebar-nav">
        @(Html.When(JqueryBind.None)
              .Ajax(new GetMessagesQuery.AsNav())
              .OnSuccess(dsl => dsl.Self().JQuery.Dom.WithTemplateByView(pathToNavTmpl).Html())
              .AsHtmlAttributes(new {@class= "sidebar-nav-items loaded",id= typeof(GetMessagesQuery.AsNav).Name })
              .ToTag(HtmlTag.Ul,@<text>
                                    @Html.Dispatcher().Query(new GetMessagesQuery.AsNav()).AsView(pathToNavTmpl)
                                 </text>))
    </nav>
</div>
<div id="background">
    <div class="background-actual"></div>
</div>
<div id="content">
    @data.AsView("~/Views/Endpoint/Item_Tmpl.cshtml")
</div>
</body>

</html>